---
layout: default
title: JuicyJS
---

<h3>
<a id="welcome" class="anchor" href="#welcome" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to JuicyJS.</h3>

<p>
  JuicyJS was designed to alleviate a lot of the problems I run into while prototyping Javascript games. Namely, most engines are way too complex for what I need, and the learning curve makes it more cumbersome to get something off the ground than necessary. In the end, I end up hacking together something basic in HTML5 anyway.
</p>

<p>
  I created JuicyJS to compile the simplest HTML5 patterns that I find myself following, and hardly more. Instead, a lot of programming is left up to you to hack together, so you don't have to spend hours studying a new framework.
</p>

<h3><a id="do-it-yourself" class="anchor" href="#do-it-yourself" aria-hidden="true"><span class="octicon octicon-link"></span></a>DIY</h3>

<p>
  JuicyJS isn't a huge multi-platform, do-it-all game engine, and it won't be. Use something else that's more robust and designed with that in mind. JuicyJS is good for hacking together something for a game jam, when you want to hit the ground running.
</p>

<h3>
<a id="example" class="anchor" href="#example" aria-hidden="true"><span class="octicon octicon-link"></span></a>Quick Example</h3>

<canvas id="example-canvas" width="660" height="120"></canvas>

<pre class="code">
{% include example_script.js %}
</code></pre>

<script>
{% include example_script.js %}
</script>

<h3>
<a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>
  This project was started by <a href="https://github.com/Epiphane/" class="user-mention" target="_blank">Thomas Steinke</a> early 2015, with extra help from <a href="https://github.com/elliotfiske" class="user-mention" target="_blank">Elliot Fiske</a> and <a href="https://github.com/mlinsenbard" class="user-mention" target="_blank">Max Linsenbard</a> to flesh it out and test it during game jams.
</p>

<h3>
<a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span class="octicon octicon-link"></span></a>Support or Contact</h3>

<p>
  Run into any issues with Juicy? I'd love to fix them! <a href="https://github.com/Epiphane/juicyjs/issues/new" target="_blank">Submit an issue on Github</a> or <a href="mailto:exyphnos@gmail.com">send me an email</a> and I'll get back to you as soon as possible.
</p>